AppKit==0.2.8
appnope==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.1
click==7.1.2
decorator==4.4.2
enum34==1.1.10
Flask==1.1.2
ipython==5.10.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==1.0.18
ptyprocess==0.6.0
pycairo==1.18.2
Pygments==2.5.2
PyGObject==3.36.1
pyobjc-core==5.3
pyobjc-framework-Cocoa==5.3
pyobjc-framework-ScriptingBridge==5.3
scandir==1.10.0
simplegeneric==0.8.1
six==1.15.0
soupsieve==1.9.6
traitlets==4.3.3
wcwidth==0.2.4
Werkzeug==1.0.1
